body {
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 600;
}

.hero {
  position: relative;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: -40vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 100% auto;
  grid-template-rows: 100% auto;
  background-color: #fff;
}

.hero-h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #009c70;
  font-size: 9em;
  line-height: 1em;
  text-align: left;
}

.project-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 100px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.content-card {
  overflow: hidden;
  height: auto;
  max-width: 400px;
  margin: 30px;
  border: 1px solid #000;
  border-radius: 7px;
  background-color: transparent;
  color: #333;
  text-decoration: none;
}

.content-card:hover {
  color: #009c70;
}

.content-card.hidden {
  display: none;
}

.content-card_thumbnail {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 230px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000;
  background-color: #ececec;
}

.content-card_inner {
  padding: 20px;
}

.content-card_title {
  max-width: 300px;
  margin-top: 4px;
  white-space: normal;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.07);
}

.nav-link {
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-weight: 600;
}

.nav-link.disabled {
  color: #ececec;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.brand-h4 {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  color: #333;
  font-size: 1.4em;
  font-weight: 400;
}

.paragraph {
  font-family: 'PT Serif', serif;
  font-size: 1.3em;
  line-height: 1.6em;
  font-weight: 400;
}

.paragraph.hidden {
  display: none;
}

.hero-text-link {
  color: #333;
  text-decoration: none;
}

.hero-text-link:hover {
  color: #009c70;
}

.header-image {
  overflow: hidden;
  width: 100%;
  max-height: 60vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image.horizontal {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.article-header {
  margin-top: 80px;
}

.article-date {
  width: 100%;
  margin-bottom: auto;
  font-family: 'PT Serif', serif;
  color: #b1b1b1;
  font-size: 1.2em;
  line-height: 1em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.article-h1 {
  width: 100%;
  margin-bottom: 10px;
  color: #009c70;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
}

.landing-subcategory-h3 {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-size: 1.7em;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
}

.content-card_teaser {
  margin-top: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}

.article-h3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 700;
}

.article-h3.hidden {
  display: none;
}

.image-credits {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Serif', serif;
  color: #b1b1b1;
  font-size: 1.2em;
  line-height: 1.4em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.article-footer {
  margin-top: 60px;
  padding-top: 20px;
  background-color: transparent;
}

.article-image-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-card-image {
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -o-object-fit: cover;
  object-fit: cover;
}

.text-span {
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.article-image-grid {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.landing-category-h2 {
  width: 100%;
  margin-bottom: 10px;
  color: #009c70;
  font-size: 4.1em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

.category-header {
  padding-top: 50px;
}

.article_button {
  margin-right: 20px;
  margin-bottom: 16px;
  padding: 16px 24px;
  background-color: #009c70;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.6em;
  font-weight: 500;
}

.article_button.back {
  background-color: #ececec;
  color: #333;
}

.article_button.disabled {
  opacity: 0.2;
}

.footer-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16vh;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.footer-text {
  margin-bottom: 0px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.3em;
  line-height: 1.6em;
  font-weight: 400;
}

.content-card_tag {
  display: inline-block;
  width: auto;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 14px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: 1px solid #000;
  border-radius: 1px;
}

.content-card_tag.yellowhighlight {
  border-style: solid;
}

.content-card_tag.inprogress {
  border-style: none;
  background-color: #ececec;
}

.content-card_tag.bluehighlight {
  border-style: none;
  background-color: #405cff;
}

.content-card_tag_text {
  margin-bottom: 0px;
  color: #333;
  font-weight: 500;
}

.content-card_tag_text.whitetext {
  color: #fff;
}

.projects {
  margin-top: 50px;
}

.container-home {
  max-width: 1280px;
}

.article-video {
  margin-top: 30px;
}

.article-h4 {
  margin-top: 20px;
  font-size: 1.7em;
  line-height: 1.5em;
  font-weight: 600;
}

.filtersection {
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-tag-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.hero-button {
  margin-top: 100px;
  padding: 10px 28px;
  border-style: solid;
  border-width: 2px;
  border-color: #009c70;
  border-radius: 20px;
  background-color: transparent;
  color: #009c70;
  font-size: 1.2em;
  font-weight: 500;
}

.hero-h1-wrapper {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 2px;
  background-color: #ececec;
}

.article-link-box {
  margin-top: 40px;
  padding: 16px 26px;
  background-color: rgba(51, 51, 51, 0.05);
}

.link-box-article-h3-copy {
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 700;
}

.link-box-article-h3-copy.hidden {
  display: none;
}

.thumbnail_color_cover {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #009c70;
  opacity: 0.8;
  mix-blend-mode: normal;
}

.hero-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.hero-left {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.hero-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media screen and (max-width: 991px) {
  .hero {
    margin-bottom: -30vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }

  .hero-h1 {
    font-size: 8em;
    text-align: center;
  }

  .content-card {
    margin: 16px;
  }

  .nav-link {
    color: #009c70;
  }

  .nav-link.disabled {
    color: #b1b1b1;
  }

  .nav-menu {
    background-color: #ececec;
  }

  .icon {
    color: #009c70;
  }

  .hero-button {
    margin-top: 60px;
  }

  .hero-h1-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .hero-right {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    margin-bottom: -20vh;
  }

  .hero-h1 {
    border-style: none;
    font-size: 6em;
    text-align: left;
  }

  .content-card {
    width: 100%;
    max-width: none;
    margin: 20px 0px;
  }

  .content-card_thumbnail {
    width: 100%;
    height: 30vh;
  }

  .content-card_title {
    max-width: none;
  }

  .article-date {
    text-align: left;
  }

  .article-h1 {
    font-size: 4em;
    text-align: left;
  }

  .landing-subcategory-h3 {
    margin-top: 10px;
    font-weight: 400;
    text-align: left;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-credits {
    text-align: left;
  }

  .article-image-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .landing-category-h2 {
    font-size: 4em;
    text-align: left;
  }

  .container-home {
    padding-right: 20px;
    padding-left: 20px;
  }

  .header-tag-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .hero-right {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    margin-bottom: -10vh;
  }

  .hero-h1 {
    font-size: 5em;
  }

  .header-text {
    height: auto;
  }

  .article-h1 {
    font-size: 4em;
  }

  .container {
    padding-right: 14px;
    padding-left: 14px;
  }

  .landing-category-h2 {
    font-size: 4em;
  }

  .container-home {
    padding-right: 14px;
    padding-left: 14px;
  }
}

#w-node-dacff471-fcb7-f712-7a17-5cac0b7cc6b3-29277cfe {
  -ms-grid-column-align: auto;
  justify-self: auto;
}

