body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 600;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
  margin-top: 60px;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.hero-h1 {
  margin-bottom: 30px;
  color: #0026ff;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
}

.hero-h2 {
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-size: 1.7em;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
}

.project-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.content-card {
  overflow: hidden;
  height: auto;
  max-width: 400px;
  margin: 30px;
  border: 1px solid #000;
  background-color: transparent;
  color: #333;
  text-decoration: none;
}

.content-card:hover {
  box-shadow: -4px 4px 0 0 #b1b1b1;
  -webkit-transform: translate(5px, -5px);
  -ms-transform: translate(5px, -5px);
  transform: translate(5px, -5px);
  color: #0026ff;
}

.content-card_thumbnail {
  width: 350px;
  height: 230px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000;
  background-color: #ececec;
}

.content-card_inner {
  padding: 20px;
}

.content-card_title {
  margin-top: 4px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.07);
}

.nav-link {
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-weight: 600;
}

.nav-link.disabled {
  color: #ececec;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.brand-h4 {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  color: #333;
  font-size: 1.4em;
}

.paragraph {
  font-family: 'PT Serif', serif;
  font-size: 1.3em;
  line-height: 1.6em;
  font-weight: 400;
}

.text-link {
  color: #333;
}

.text-link:hover {
  color: #0026ff;
}

.header-image {
  overflow: hidden;
  width: 100%;
  max-height: 60vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-header {
  margin-top: 80px;
}

.article-date {
  width: 100%;
  margin-bottom: auto;
  font-family: 'PT Serif', serif;
  color: #b1b1b1;
  font-size: 1.2em;
  line-height: 1em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.article-h1 {
  width: 100%;
  margin-bottom: 10px;
  color: #0026ff;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
}

.article-h2 {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-size: 1.7em;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
}

.content-card_teaser {
  margin-top: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}

.article-h3 {
  margin-top: 40px;
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 700;
}

.image-credits {
  width: 100%;
  margin-bottom: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Serif', serif;
  color: #b1b1b1;
  font-size: 1.2em;
  line-height: 1.4em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.article-footer {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ececec;
}

.article-image {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-span {
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.article-image-grid {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .nav-link {
    color: #0026ff;
  }

  .nav-link.disabled {
    color: #b1b1b1;
  }

  .nav-menu {
    background-color: #ececec;
  }

  .icon {
    color: #0026ff;
  }
}

@media screen and (max-width: 767px) {
  .hero-h1 {
    text-align: left;
  }

  .hero-h2 {
    text-align: left;
  }

  .content-card {
    width: 100%;
    max-width: none;
  }

  .content-card_thumbnail {
    width: 100%;
    height: 30vh;
  }

  .article-date {
    text-align: left;
  }

  .article-h1 {
    font-size: 4em;
    text-align: left;
  }

  .article-h2 {
    margin-top: 10px;
    font-weight: 400;
    text-align: left;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-credits {
    text-align: left;
  }

  .article-image-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    height: auto;
  }

  .header-text {
    height: auto;
  }

  .article-h1 {
    font-size: 4em;
  }

  .container {
    padding-right: 14px;
    padding-left: 14px;
  }
}

