body {
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 600;
}

.hero {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: -40vh;
  padding: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 38, 255, 0.8)), to(rgba(0, 38, 255, 0.8))), url('../images/joel-filipe-aYkDMrRo580-unsplash.jpg');
  background-image: linear-gradient(180deg, rgba(0, 38, 255, 0.8), rgba(0, 38, 255, 0.8)), url('../images/joel-filipe-aYkDMrRo580-unsplash.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.hero-h1 {
  margin-bottom: 40px;
  padding: 20px 30px;
  border-style: solid;
  border-width: 2px;
  border-color: #ececec;
  border-radius: 1px;
  color: #ececec;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
}

.project-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 100px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.content-card {
  overflow: hidden;
  height: auto;
  max-width: 400px;
  margin: 30px;
  border: 1px solid #000;
  background-color: transparent;
  color: #333;
  text-decoration: none;
}

.content-card:hover {
  box-shadow: -4px 4px 0 0 #0026ff;
  -webkit-transform: translate(5px, -5px);
  -ms-transform: translate(5px, -5px);
  transform: translate(5px, -5px);
  color: #0026ff;
}

.content-card_thumbnail {
  width: 350px;
  height: 230px;
  border-style: solid;
  border-width: 0px 0px 1px;
  border-color: #000;
  background-color: #ececec;
}

.content-card_inner {
  padding: 20px;
}

.content-card_title {
  margin-top: 4px;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.07);
}

.nav-link {
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-weight: 600;
}

.nav-link.disabled {
  color: #ececec;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.brand-h4 {
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  padding: 20px;
  color: #333;
  font-size: 1.4em;
}

.paragraph {
  font-family: 'PT Serif', serif;
  font-size: 1.3em;
  line-height: 1.6em;
  font-weight: 400;
}

.paragraph.hidden {
  display: none;
}

.hero-text-link {
  color: #333;
  text-decoration: none;
}

.hero-text-link:hover {
  color: #0026ff;
}

.header-image {
  overflow: hidden;
  width: 100%;
  max-height: 60vh;
  -o-object-fit: cover;
  object-fit: cover;
}

.header-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image.horizontal {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.article-header {
  margin-top: 80px;
}

.article-date {
  width: 100%;
  margin-bottom: auto;
  font-family: 'PT Serif', serif;
  color: #b1b1b1;
  font-size: 1.2em;
  line-height: 1em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.article-h1 {
  width: 100%;
  margin-bottom: 10px;
  color: #0026ff;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
}

.landing-subcategory-h3 {
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Space Grotesk', sans-serif;
  color: #333;
  font-size: 1.7em;
  line-height: 1.5em;
  font-weight: 500;
  text-align: center;
}

.content-card_teaser {
  margin-top: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}

.article-h3 {
  margin-top: 40px;
  font-size: 2.2em;
  line-height: 1.2em;
  font-weight: 700;
}

.image-credits {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Serif', serif;
  color: #b1b1b1;
  font-size: 1.2em;
  line-height: 1.4em;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.article-footer {
  margin-top: 60px;
  padding-top: 20px;
  background-color: transparent;
}

.article-image {
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.text-span {
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.article-image-grid {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
  width: 100%;
  margin-top: 30px;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.landing-category-h2 {
  width: 100%;
  margin-bottom: 10px;
  color: #0026ff;
  font-size: 4.1em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
}

.article_button {
  margin-right: 20px;
  margin-bottom: 16px;
  padding: 16px 24px;
  background-color: #0026ff;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.6em;
  font-weight: 500;
}

.article_button.back {
  background-color: #ececec;
  color: #333;
}

.footer-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16vh;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: transparent;
}

.footer-text {
  margin-bottom: 0px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.3em;
  line-height: 1.6em;
  font-weight: 400;
}

.content-card_tag {
  display: inline-block;
  width: auto;
  padding: 8px 14px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border: 1px none #000;
  border-radius: 1px;
  background-color: #ececec;
}

.content-card_tag.output {
  background-color: #fff700;
}

.content-card_tag.input {
  border-style: solid;
  background-color: transparent;
}

.content-card_tag_text {
  margin-bottom: 0px;
  color: #333;
  font-weight: 500;
}

.content-card_tag_text.inprogress {
  color: #b1b1b1;
}

.container-home {
  max-width: 1280px;
}

@media screen and (max-width: 991px) {
  .hero {
    margin-bottom: -30vh;
  }

  .content-card {
    margin: 16px;
  }

  .nav-link {
    color: #0026ff;
  }

  .nav-link.disabled {
    color: #b1b1b1;
  }

  .nav-menu {
    background-color: #ececec;
  }

  .icon {
    color: #0026ff;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    margin-bottom: -20vh;
  }

  .hero-h1 {
    padding: 0px;
    border-style: none;
    text-align: left;
  }

  .content-card {
    width: 100%;
    max-width: none;
    margin: 20px 0px;
  }

  .content-card_thumbnail {
    width: 100%;
    height: 30vh;
  }

  .article-date {
    text-align: left;
  }

  .article-h1 {
    font-size: 4em;
    text-align: left;
  }

  .landing-subcategory-h3 {
    margin-top: 10px;
    font-weight: 400;
    text-align: left;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .image-credits {
    text-align: left;
  }

  .article-image-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .landing-category-h2 {
    font-size: 4em;
    text-align: left;
  }

  .container-home {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .hero {
    margin-bottom: -10vh;
  }

  .header-text {
    height: auto;
  }

  .article-h1 {
    font-size: 4em;
  }

  .container {
    padding-right: 14px;
    padding-left: 14px;
  }

  .landing-category-h2 {
    font-size: 4em;
  }

  .container-home {
    padding-right: 14px;
    padding-left: 14px;
  }
}

